<div class="w-full flex justify-center items-center">
    <div class="w-full md:w-[75%] flex flex-col items-stretch justify-center px-10 py-3 border-2 border-white rounded-md opacity-100" id="content">
        <div class="w-full mb-6" >
            <img src="/images/jobsBanner.png" class="rounded-md">
        </div>
        <div class=" flex flex-col ">
            <div class="flex flex-row w-full px-4 py-2 text-3xl mb-3">
                <span class="text-red-600 mr-3"><%=job.jobDesignation%></span><Span class="text-white mr-3"> opportunity in <%=job.jobLocation%> at </Span><span class="text-green-500"><%=job.companyName%></span>
            </div>
            <div class="flex justify-between items-center px-4 w-[25%]">
                <!-- actively hiring and update and delete button -->
                <div class="flex bg-blue-800 rounded-md px-3 py-2 gap-x-1 text-white">
                    <div>Actively Hiring</div>
                    <div><i class="fa-solid fa-chart-line" style="color:#fff"></i></div>
                </div>
                <div class="flex justify-between gap-x-4">
                    <%if(userId==job.recruiterId){%>
                        <a href="/updateJob/<%=job._id%>"><i class="fa-regular fa-pen-to-square" style="color: #0d26e3;"></i></a>
                        <button type="button" id="deleteButton"><i class="fa-solid fa-trash" style="color: #da0b0b;"></i></button>
                    <%}
                    else{%>
                        <a><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i></a>
                        <a><i class="fa-solid fa-trash" style="color: #ffffff;"></i></a>
                    <%}%>
                    
                </div>
            </div>
            <div class="flex flex-col gap-y-1 px-6 py-3 ml-2 text-white">
                <!-- box for details of the job -->
                <div> <%=job.companyName%></div>
                <div> <%=job.jobCategory%> <%=job.jobDesignation%></div>
                <div><i class="fa-solid fa-location-dot"></i> <%=job.jobLocation%></div>
                <div><i class="fa-solid fa-indian-rupee-sign"></i> <%=job.salary%></div>
                <div><i class="fa-regular fa-hourglass"></i> Apply by <%=job.lastDate%></div>
                <div><i class="fa-solid fa-signal"></i>No. of openings <%=job.openings%></div>
                <%if(userId==job.recruiterId){%>
                    <a href="/viewApplicants/<%=job._id%>" style="color:#e9e10f"><i class="fa-regular fa-circle-user" ></i>Applicants <%=job.applicants%></a>
                <%}else{%>
                    <div><i class="fa-regular fa-circle-user"></i>Applicants <%=job.applicants%></div>
                <%}%>
                
                <div class="flex flex-wrap items-center gap-x-2 gap-y-1 w-[90%] mt-2">
                    <!-- card1 -->
                    <div><i class="fa-solid fa-award"></i></div>
                    <div class="flex items-center justify-center gap-x-2 gap-y-1">
                        <%job.skillsRequired.forEach(skill=>{%>
                        <div class="flex justify-center items-center px-2 py-1 border-2 border-blue-500 rounded-md"><span><%=skill%></span></div>
                            <%})%>
                        </div>
                    </div>
            </div>
            <div class="mt-6 px-6">
                <!-- apply now button -->
                <%if(userId==job.recruiterId){%>
                    <a class="rounded-md px-4 py-2 bg-[#a7a5a5] text-black">Apply now</a>
                <%}
                else if(userId!=job.recruiterId && !applied){%>
                    <a href="/applyJob/<%=job._id%>" class="rounded-md px-4 py-2 bg-blue-800 text-white">Apply now</a>
                <%}else{%>
                    <a class="rounded-md px-4 py-2 bg-[#a7a5a5] text-black">Applied on <%=time%></a>
                <%}%>
                
            </div>
            <div class="mt-6 px-6 text-white mb-8" >
                <span class="bg-green-800 px-4 py-2 rounded-md">posted on <%=job.jobPosted%></span>
            </div>

        </div>
        
        
    </div>
    <div class="hidden z-999 justify-center absolute top-[50%] right-0 w-full" id="dialogBox">
    <div class="flex flex-col rounded-md bg-white text-black w-[40%] px-6 py-3" >
        <div class="mb-3">Are you sure you want to delete this job posting?</div>
        <div class="flex flex-row justify-between w-full mb-3">
            <a href="/deleteJob/<%=job._id%>" class="rounded-md bg-red-500 px-5 py-2">yes, delete</a>
            <button type="button" id="cancel" class="rounded-md bg-white text-black border-2 border-blue-600 px-5 py-2">no cancel</a>
        </div>
    </div>
</div>
</div>




<script src="/scripts/deleteConfirmation.js"></script>
